In [1]:
import pandas as pd
mydataset = {
    'cars': ['BMW','Volvo','Ford'],
    'passings': [3,7,2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

What is a Series?
A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [3]:
import pandas as pd
a = [1,2,3,6,9,10]
myvar = pd.Series(a)

print(myvar)

print(myvar[2])

0     1
1     2
2     3
3     6
4     9
5    10
dtype: int64
3

In [5]:
import pandas as pd 
a = [1,7,2]
myvar = pd.Series(a, index = ['x','y','z'])

print(myvar)
print(myvar['y'])

x    1
y    7
z    2
dtype: int64
7

**Create a simple Pandas Series from a dictionary**

In [7]:
import pandas as pd
calories = {'day1': 420, 'day2': 380, 'day3': 390}
myvar = pd.Series(calories)
print(myvar)

contact = {'Asmita': 971239, 'Sindhu': 971234, 'Raj': 971235}
myvar1 = pd.Series(contact, index = ['Asmita','Raj'])
print(myvar1)

day1    420
day2    380
day3    390
dtype: int64
Asmita    971239
Raj       971235
dtype: int64

**Dataframes**

Data sets in Pandas are usually multi-dimensional tables, called DataFrames. Series is like a column, a DataFrame is the whole table.

In [8]:
data = { 
    "calories" : [423,333,122],
    "duration" : [40,23,12]
}

myvar2 = pd.DataFrame(data)

print(myvar2)

   calories  duration
0       423        40
1       333        23
2       122        12

A Pandas DataFrame is a 2-dimensional data structure, like a 2 dimensional array, or a table with rows and columns

**Locate Row**
Pandas us the **loc** attribute to return one or more specified rows(s)

In [9]:
print(myvar2.loc[0])

calories    423
duration     40
Name: 0, dtype: int64

In [10]:
# to return row 0 and 1:
print(myvar2.loc[[0,1]])

   calories  duration
0       423        40
1       333        23

Note: when using [], the result is a Pandas DataFrame

**Named indexes**
with the **index** argument , you can name your own indexes.

In [11]:
Student = {
    'name': ["Asmita","Anshuman","Naitik","Kabir"],
    'age':[22,1,5,7],
    'class':["Bachelor","Not going to school yet","UKG","Six"]

}

myData1 = pd.DataFrame(Student, index = ["Sister/Aunty","Son","Son","Brother/Maternal_uncle"])

print(myData1)

                            name  age                    class
Sister/Aunty              Asmita   22                 Bachelor
Son                     Anshuman    1  Not going to school yet
Son                       Naitik    5                      UKG
Brother/Maternal_uncle     Kabir    7                      Six

**Locate Named indexes**
Use the named index in the loc attribute to return the specified row(s)

In [12]:
print(myData1.loc[['Sister/Aunty','Brother/Maternal_uncle']])

                          name  age     class
Sister/Aunty            Asmita   22  Bachelor
Brother/Maternal_uncle   Kabir    7       Six

**Load files into a dataframe**